@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

:root {
  --color-1: #606C38;
  --color-2: #283618;
  --color-3: #FEFAE0;
  --color-4: #DDA15E;
  --color-5: #BC6C25;
  --black: #000000;
  --white: #ffffff;
}

body {
    background-color: var(--color-3);
    font-family: "Inter", sans-serif;
}

a {
  color: var(--black);
  text-decoration: none;
}

a:hover, .nav-link:hover {
  color: var(--color-1);
  text-decoration: none;
}

.header, .footer {
  background-color: var(--color-5);
  color: var(--white);
}

h1 {
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

.brand {
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: var(--white);
}

.nav-link {
  color: var(--white);
  font-size: 1.1rem;
}

.image-container {
    position: relative;
}

.location {
    position: absolute;
    bottom: 5%;
    min-width: relative;
    background-color: var(--color-1);
    color: var(--white);
    padding: 3%;
    padding-bottom: 0%;
}

.masthead {
  margin-top: 5px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  height: 40vh;
  width: 100%;
}

.masthead-text {
  background-color: var(--color-5);
  color: var(--white);
  position: relative;
}

.masthead-image {
  position: relative;
  overflow: hidden;
}

.post-link {
    text-decoration: none;
    color: var(--color-2);
}

.post-link:hover,
.page-link {
    color: var(--color-1);
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: var(--color-3);
}

.btn-signup,
.btn-edit {
    background-color: var(--color-1);
    color: var(--white);
}

.btn-signup:hover,
.btn-signup:active {
    background-color: var(--white);
    color: var(--black);
}

.link {
    color: var(--black);
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.faded {
    color: var(--color-1);
}

.approval {
    color: var(--color-4);
}
