{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- index.html content starts here -->

<!-- Filters -->
<div class="container my-4">
  <div class="row justify-content-center">
    <div class="pub-amenities d-flex flex-wrap gap-3 justify-content-center text-center">
      <p class="pub-food"><i class="fa-solid fa-utensils"></i> Food</p>
      <p class="pub-craft"><i class="fa-solid fa-beer-mug-empty"></i> Craft Beer</p>
      <p class="pub-outside"><i class="fa-solid fa-umbrella-beach"></i> Outside Seating</p>
      <p class="pub-dog"><i class="fa-solid fa-dog"></i> Dog Friendly</p>
      <p class="pub-pool"><i class="fa-solid fa-wand-magic"></i> Pool Table</p>
      <p class="pub-darts"><i class="fa-solid fa-bullseye"></i> Dart Board</p>
    </div>
  </div>
</div>

<!-- Pub Entries -->
<div class="container">
  <div class="row">
    {% for post in pub_list %}
      <div class="col-md-4 mb-4">
        <div class="card index-card h-100">
          <div class="card-body">
            <div class="image-container mb-2">
              {% if "placeholder" in post.featured_image.url %}
                <img class="card-img-top" src="{% static 'images/default.jpg' %}" alt="placeholder image" />
              {% else %}
                <img class="card-img-top" src="{{ post.image.url }}" alt="{{ post.name }}" />
              {% endif %}
              <div class="location">
                <p class="location-text">{{ post.location }}</p>
              </div>
            </div>
            <a href="{% url 'pub_detail' post.slug %}" class="pub-link text-decoration-none">
              <h2 class="card-title">{{ post.name }}</h2>
              <p class="card-text">
                {{ post.excerpt }}
                <i class="fa-solid fa-arrow-right"></i>
              </p>
            </a>
          </div>
        </div>
      </div>

      {% if forloop.counter|divisibleby:3 and not forloop.last %}
        </div><div class="row">
      {% endif %}
    {% endfor %}
  </div>
</div>

<!-- Pagination -->
{% if is_paginated %}
  <nav aria-label="Page navigation" class="mt-4">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
            <i class="fa-solid fa-arrow-left"></i> Previous
          </a>
        </li>
      {% endif %}
      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">
            Next <i class="fa-solid fa-arrow-right"></i>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}

<!-- index.html content ends here -->
{% endblock %}
