{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} 
{% block content %}



<!-- Pub Description & Info -->
<div class="container">
  <div class="row">
    <!-- Masthead -->
  <div class="container masthead">
    <div class="row g-0">
      <div class="col-md-6 masthead-body">
        <h1 class="post-title">{{ pub.name }}</h1>

        <div class="pub-location-price">
          <p class="pub-price">{{ pub.price }}</p>
          <p class="pub-location">{{ pub.location }}</p>
        </div>

        <div class="pub-amenities">
          {% if pub.food == "Yes" %}
          <p class="pub-food"><i class="fa-solid fa-utensils"></i> Food</p>
          {% endif %} {% if pub.craft_beer == "Yes" %}
          <p class="pub-craft">
            <i class="fa-solid fa-beer-mug-empty"></i> Craft Beer
          </p>
          {% endif %} {% if pub.beer_garden == "Yes" %}
          <p class="pub-outside">
            <i class="fa-solid fa-umbrella-beach"></i> Outside Seating
          </p>
          {% endif %} {% if pub.dog_friendly == "Yes" %}
          <p class="pub-dog"><i class="fa-solid fa-dog"></i> Dog Friendly</p>
          {% endif %} {% if pub.pool_table == "Yes" %}
          <p class="pub-pool">
            <i class="fa-solid fa-wand-magic"></i> Pool Table
          </p>
          {% endif %} {% if pub.dart_board == "Yes" %}
          <p class="pub-darts">
            <i class="fa-solid fa-bullseye"></i> Dart Board
          </p>
          {% endif %}
        </div>
      </div>

      <!-- Masthead Image -->
      <div class="masthead-image col-md-6">
        {% if "placeholder" in pub.image.url %}
        <img
          class="card-img-mast"
          src="{% static 'images/default.jpg' %}"
          alt="placeholder image"
        />
        {% else %}
        <img
          class="card-img-mast"
          src="{{ pub.image.url }}"
          alt="{{ pub.name }}"
        />
        {% endif %}
      </div>
  </div>
</div>
<!-- Content -->
    <div class="col card post-content mb-4 left top">
      <div class="card-body">
        <p class="card-text">{{ pub.description | safe }}</p>
      </div>
      <div class="container">
        <div class="row">
          <div class="card-body">
          <p class="post-author">{{ pub.author }} | last updated {{ pub.updated }}</p>
          </div>
        </div>
      </div>
      <hr>
      <div class="container hours-contact">
        <div class="row">
          <!-- Opening Hours Column -->
          <div class="col-md-6">
            <h2>Opening Hours</h2>
            <div class="row">
              <div class="col-6">
                <p class="card-text">
                  Monday:<br />
                  Tuesday:<br />
                  Wednesday:<br />
                  Thursday:<br />
                  Friday:<br />
                  Saturday:<br />
                  Sunday:
                </p>
              </div>
              <div class="col-6">
                <p class="card-text">
                  {{ pub.mon_opening }}<br />
                  {{ pub.tues_opening }}<br />
                  {{ pub.wed_opening }}<br />
                  {{ pub.thurs_opening }}<br />
                  {{ pub.fri_opening }}<br />
                  {{ pub.sat_opening }}<br />
                  {{ pub.sun_opening }}
                </p>
                <br>
              </div>
            </div>
          </div>

          <!-- Contact Details Column -->
          <div class="col-md-6">
            <h2>Contact Details</h2>
            <p class="card-text">
              Phone: {{ pub.phone_number }}<br />
              Email: {{ pub.email }}<br />
              Website: {{ pub.website }}<br />
              Address: {{ pub.address }}
            </p>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

      <!-- Comments Section -->
      <div class="container">
        <div class="row">
          <!-- Comments Count -->
          <div class="col-12">
            <strong class="text-secondary">
              <i class="far fa-comments"></i> {{ comment_count }}
            </strong>
            <hr />
          </div>

          <!-- Display Comments -->
          <div class="col-md-8 card card-comment-display mb-4 mt-3">
            <h3>Comments:</h3>
            <div class="card-body">
              {% for comment in comments %}
              <div
                class="p-2 comments {% if not comment.author == user %} faded {% endif %}"
              >
                <p class="font-weight-bold">
                  {{ comment.author }}
                  <span class="font-weight-normal">
                    {{ comment.created_on }}
                  </span>
                  wrote:
                </p>
                <div id="comment{{ comment.id }}">
                  {{ comment.body | linebreaks }}
                </div>

                {% if user.is_authenticated and comment.author == user %}
                <button class="btn btn-delete" comment_id="{{ comment.id }}">
                  Delete
                </button>
                <button class="btn btn-edit" comment_id="{{ comment.id }}">
                  Edit
                </button>
                {% endif %}
              </div>
              {% endfor %}
            </div>
          </div>

          <!-- Add New Comment -->
          <div class="col-md-4 card card-comment-add mb-4 mt-3">
            <div class="card-body">
              {% if user.is_authenticated %}
              <h3>Leave a comment:</h3>
              <p>Posting as: {{ user.username }}</p>
              <form id="commentForm" method="post" style="margin-top: 1.3em">
                {{ comment_form | crispy }} {% csrf_token %}
                <button
                  id="submitButton"
                  type="submit"
                  class="btn btn-signup btn-lg"
                >
                  Submit
                </button>
              </form>
              {% else %}
              <p>Log in to leave a comment</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>

      <!-- Delete Confirmation Modal -->
      <div
        class="modal fade"
        id="deleteModal"
        tabindex="-1"
        aria-labelledby="deleteModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel">Delete comment?</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              Are you sure you want to delete your comment? This action cannot
              be undone.
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
            </div>
          </div>
        </div>
      </div>

      {% endblock content %} {% block extras %}
      <script src="{% static 'js/comments.js' %}"></script>
      {% endblock %}
    </div>
  </div>
</div>
